<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="stylesheets/auth/login.css">
    

</head>
<body>
    <div id="maincontainer">
      <div id="outerBox"> 
      <div id="child1">
        <h1>WELCOME BACK ...!!</h1>
      </div>
      
      <div id="child3">

     <main class="glass-card">
     <div id="signup">
     <h1 class="text-center" data-text="Log In">Log In</h1>
     <p class="text-center">Log in to resume !</p>
     </div>
     <form method="post" action="/api/auth/login">
      <!-- Full Name -->
      <!-- <div class="input-group">
        <input type="text" id="fullname" name="fullname" placeholder=" " required>
        <label for="fullname">Full Name</label>
      </div> -->

      <!-- Email -->
      <div class="input-group">
        <input type="email" id="email" name="email" placeholder=" " required>
        <label for="email">Email</label>
      </div>

      <!-- Password -->
      <div class="input-group">
        <input type="password" id="password" name="password" placeholder=" " required>
        <label for="password">Password</label>
      </div>

      <!-- Confirm Password -->
      <!-- <div class="input-group">
        <input type="password" id="confirm-password" name="confirm-password" placeholder=" " required>
        <label for="confirm-password">Confirm Password</label>
      </div> -->

      <!-- Remember Me -->
      <!-- <div class="checkbox-container">
        <input type="checkbox" id="terms" required>
        <label for="terms">I agree to the <a href="#" class="link">Terms & Conditions</a></label>
      </div> -->

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Log In</button>
     </form>

      <p class="text-center ">
      Don't have an account? <a href="/signup" class="link">Sign Up here</a>
      </p>
      </main>

      </div>

    </div>

</body>
</html>
