<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">EduPlatform</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#hero">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#why-choose-us">Why Choose Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            
             <!-- Signup & Login Buttons -->
             <div class="auth-buttons">
                <a href="/login" class="btn login-btn">Login</a>
                <a href="/signup" class="btn signup-btn">Sign Up</a>
            </div>
        </div>
    </div>
</nav>
